name: run static checks

on: 
  push:
    branches: [master, develop]
  pull_request:

jobs:
  build:
    name: static-checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '18.x'
      - run: npm install
      - run: npm run lint
      - run: npm run snyk
      - run: $(npm bin)/nyc --reporter=cobertura npm test
      - name: Upload Coverage to CodeCov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_SECRET }}
          files: coverage/cobertura-coverage.xml
          verbose: true
    env:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
